@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --color-rose: #FFA9F9;
  --color-jaune: #FFF7AD;
  --color-gris: #E2E2E2;
  --color-noir: #3A3939;

  --font-Lemon: "Lemon", serif;
  --font-Lisa: "Lisu Bosa", serif;

  --animate-move: 1s ease-in-out infinite;
  @keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
}


